<!-- _includes/vimeo.html -->
<div class="image-wrapper" >
    <iframe id="pouet"
            src="//www.youtube.com/embed/{{ include.id }}?modestbranding=1&showinfo=0&rel=0&hl=en&cc_lang_pref={{ include.language }}&enablejsapi=1&cc_load_policy=1"
            width="640" height="360"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
    </iframe>
    <script type="text/javascript">
        var tag = document.createElement('script');
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        let player

        const onApiChange = _ => {
                    if (typeof player.setOption === 'function') {
                                player.setOption('captions', 'track', {languageCode: {{include.language}} }) // undocumented call
                            }
                }

        function onYouTubeIframeAPIReady() {
                    player = new YT.Player('pouet', {events: {onApiChange}})
                }
    </script>
    {% if include.caption %}
    <p class="caption">{{ include.caption }}</p>
    {% endif %}
</div>
